<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI-cook</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <form action="/smart" method="get">
        <h1>Thanks for your efforts</h1>
        
        <textarea name=""  contenteditable="false" id="ta" cols="90" rows="5">Taking care of nature can be really simple.Please take a moment to appreciate the difference made everyday when you decide to let us know your food choice in advance.For each calendar month when you or your colleague stick to your choice, we save a significant amount of food waste.This action of yours helps us pay back to nature by planting one tree.</textarea>
        <br><hr>
    <div style="width:2000px;">
    
    <div style="width:1000px; float:left;">
        <img src="images/sustain.png" width="90%">
    </div>
    
    <div style="width:1000px; float:left;">
    
    
    <table  class="table" border="2">
        <thead>
            <th>Rank</th>
            <th>Employee</th>
            <th>Month</th>
            <th>Streak(days)</th>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Angelika</td>
                <th>July</th>
                <th>20</th>
            </tr>
            <tr>
                <td>2</td>
                <td>Lukas</td>
                <th>July</th>
                <th>18</th>
            </tr>
            <tr>
                <td>3</td>
                <td>Erik</td>
                <th>July</th>
                <th>14</th>
            </tr>
            <tr>
                <td>4</td>
                <td>Vladimir</td>
                <th>July</th>
                <th>12</th>
            </tr>
            <tr>
                <td>5</td>
                <td>Amitava</td>
                <th>July</th>
                <th>8</th>
            </tr>

        </tbody>
    </div>
    </div>
    

    </form>
</body>
</html>